
@import 'utils/var';
@import 'utils/function';
@import 'reset.css';
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame{
    background-color: #f8f8f8;
    width:128rem;
    height: 82rem;
    padding: 2.5rem 3.5rem;
}
.wrap{
    position: relative;
    width: 100%;
    height: 100%;
}